# ESP-IDF build output
build/
managed_components/
dependencies.lock

# SDK config backups
sdkconfig.old

# micro-ROS generated/build artifacts
**/components/micro_ros_espidf_component/micro_ros_src/
**/components/micro_ros_espidf_component/micro_ros_dev/
**/components/micro_ros_espidf_component/include/
**/components/micro_ros_espidf_component/libmicroros.a
**/components/micro_ros_espidf_component/esp32_toolchain.cmake

# Editor/system files
.vscode/
.DS_Store
*.swp
*.publisher_working
